<section class="section-2">
    <div class="content">
        <h1>Get the "Gatling Grimoire" for free!</h1>
        <p>The free, digital copy of <b><i>"Gatling Grimoire: Demo Rulebook"</i></b> is now available for everyone!</p>
        <p>You can download the PDF it right now by clicking the button below!</p>
        <a href="/GATLING GRIMOIRE.pdf" download="Gatling_Grimoire_Demo_Rulebook">
            <button mat-flat-button>Download <i>"Gatling Grimoire: Demo Rulebook"</i></button>
        </a>
    </div>
    <img src="images/download.png" alt="Download Gatling Grimoire Demo Rulebook">

</section>